apiVersion: v1
kind: ConfigMap
metadata:
  name: mimir-config
  namespace: mimir
data:
  mimir.yaml: |
    target: all

    multitenancy_enabled: false

    common:
      storage:
        backend: s3
        s3:
          endpoint: minio.minio.svc:9000
          bucket_name: mimir-blocks
          access_key_id: minio
          secret_access_key: minio123
          insecure: true

    blocks_storage:
      backend: s3
      s3:
        endpoint: minio.minio.svc:9000
        bucket_name: mimir-blocks
        access_key_id: minio
        secret_access_key: minio123
        insecure: true
      tsdb:
        dir: /data/tsdb
        block_ranges_period: 2h

    ruler_storage:
      backend: s3
      s3:
        endpoint: minio.minio.svc:9000
        bucket_name: mimir-ruler
        access_key_id: minio
        secret_access_key: minio123
        insecure: true

    alertmanager_storage:
      backend: s3
      s3:
        endpoint: minio.minio.svc:9000
        bucket_name: mimir-alertmanager
        access_key_id: minio
        secret_access_key: minio123
        insecure: true

    limits:
      compactor_blocks_retention_period: 2h

    server:
      http_listen_port: 8080
      grpc_listen_port: 9095

    ingester:
      ring:
        replication_factor: 1
        kvstore:
          store: memberlist

    store_gateway:
      sharding_ring:
        replication_factor: 1

    compactor:
      sharding_ring:
        kvstore:
          store: memberlist
