apiVersion: v1
kind: Service
metadata:
  name: mimir-gateway
  namespace: mimir
  labels:
    app.kubernetes.io/name: mimir
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
  selector:
    app.kubernetes.io/name: mimir
    app.kubernetes.io/component: monolithic
