---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: argo-workflows
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://argoproj.github.io/argo-helm
    chart: argo-workflows
    targetRevision: 0.45.28
    helm:
      releaseName: argo-workflows
      valuesObject:
        controller:
          parallelism: 10
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          metricsConfig:
            enabled: true
            port: 9090
            servicePort: 8080
          serviceMonitor:
            enabled: true
            additionalLabels:
              release: kube-prometheus-stack
        server:
          enabled: true
          authModes:
            - server
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
          serviceType: ClusterIP
          servicePort: 2746
          serviceMonitor:
            enabled: true
            additionalLabels:
              release: kube-prometheus-stack
        workflow:
          serviceAccount:
            create: true
            name: "argo-workflow"
          rbac:
            create: true
        useDefaultArtifactRepo: true
        artifactRepository:
          archiveLogs: true
          emptyDir: {}
        mainContainer:
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 500m
              memory: 512Mi
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-workflows
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
