apiVersion: v1
kind: Service
metadata:
  name: naive-db-fsync
  labels:
    app: naive-db-fsync
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
  selector:
    app: naive-db-fsync
