---
# AWS Composition for ObjectStorage XRD
# Creates AWS S3 Bucket
apiVersion: apiextensions.crossplane.io/v1
kind: Composition
metadata:
  name: xobjectstorages.aws.illm.io
  labels:
    provider: aws
    crossplane.io/xrd: xobjectstorages.illm.io
spec:
  compositeTypeRef:
    apiVersion: illm.io/v1alpha1
    kind: XObjectStorage

  mode: Pipeline
  pipeline:
    - step: patch-and-transform
      functionRef:
        name: function-patch-and-transform
      input:
        apiVersion: pt.fn.crossplane.io/v1beta1
        kind: Resources
        resources:
          # S3 Bucket
          - name: s3-bucket
            base:
              apiVersion: s3.aws.upbound.io/v1beta1
              kind: Bucket
              spec:
                forProvider:
                  region: us-east-1
                writeConnectionSecretToRef:
                  namespace: crossplane-system
            patches:
              - type: FromCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: metadata.name
              - type: FromCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: spec.forProvider.bucket
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: "illm-%s"

              # Connection secret
              - type: FromCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: spec.writeConnectionSecretToRef.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: "%s-storage-conn"

              # Status
              - type: ToCompositeFieldPath
                fromFieldPath: status.atProvider.bucketRegionalDomainName
                toFieldPath: status.endpoint
              - type: ToCompositeFieldPath
                fromFieldPath: status.atProvider.bucket
                toFieldPath: status.bucketName
              - type: ToCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: status.cloud
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: "aws%.0s"

          # Bucket Versioning
          - name: bucket-versioning
            base:
              apiVersion: s3.aws.upbound.io/v1beta1
              kind: BucketVersioning
              spec:
                forProvider:
                  region: us-east-1
                  bucketSelector:
                    matchControllerRef: true
                  versioningConfiguration:
                    - status: Suspended
            patches:
              - type: FromCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: "%s-versioning"
              - type: FromCompositeFieldPath
                fromFieldPath: spec.versioning
                toFieldPath: spec.forProvider.versioningConfiguration[0].status
                transforms:
                  - type: convert
                    convert:
                      toType: string
                  - type: map
                    map:
                      "true": Enabled
                      "false": Suspended

          # Bucket Server-Side Encryption
          - name: bucket-encryption
            base:
              apiVersion: s3.aws.upbound.io/v1beta1
              kind: BucketServerSideEncryptionConfiguration
              spec:
                forProvider:
                  region: us-east-1
                  bucketSelector:
                    matchControllerRef: true
                  rule:
                    - applyServerSideEncryptionByDefault:
                        - sseAlgorithm: AES256
            patches:
              - type: FromCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: "%s-encryption"

          # Bucket Public Access Block
          - name: bucket-public-access
            base:
              apiVersion: s3.aws.upbound.io/v1beta1
              kind: BucketPublicAccessBlock
              spec:
                forProvider:
                  region: us-east-1
                  bucketSelector:
                    matchControllerRef: true
                  blockPublicAcls: true
                  blockPublicPolicy: true
                  ignorePublicAcls: true
                  restrictPublicBuckets: true
            patches:
              - type: FromCompositeFieldPath
                fromFieldPath: metadata.name
                toFieldPath: metadata.name
                transforms:
                  - type: string
                    string:
                      type: Format
                      fmt: "%s-public-block"
              # If publicAccess is true, allow public access
              - type: FromCompositeFieldPath
                fromFieldPath: spec.publicAccess
                toFieldPath: spec.forProvider.blockPublicAcls
                transforms:
                  - type: convert
                    convert:
                      toType: bool
                  - type: map
                    map:
                      "true": false
                      "false": true
              - type: FromCompositeFieldPath
                fromFieldPath: spec.publicAccess
                toFieldPath: spec.forProvider.blockPublicPolicy
                transforms:
                  - type: convert
                    convert:
                      toType: bool
                  - type: map
                    map:
                      "true": false
                      "false": true

    - step: auto-ready
      functionRef:
        name: function-auto-ready
