# MetalLB IP Address Pool for Kind
#
# Uses IPs from the Kind docker network (172.19.0.0/16).
# Range is at the end of subnet to avoid conflicts with containers.
#
# Note: If your Kind network uses a different subnet, adjust the range.
# Check with: docker network inspect kind | jq -r '.[0].IPAM.Config[0].Subnet'

apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: kind-pool
  namespace: metallb-system
spec:
  addresses:
    - 172.19.255.200-172.19.255.250
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: kind-l2
  namespace: metallb-system
spec:
  ipAddressPools:
    - kind-pool
