# Vault Helm values for lab environment
# Not dev mode - you'll learn unsealing

server:
  standalone:
    enabled: true
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }

      storage "file" {
        path = "/vault/data"
      }

  dataStorage:
    enabled: true
    size: 1Gi

  service:
    type: NodePort

ui:
  enabled: true

injector:
  enabled: true  # Enables the Vault Agent Injector for sidecar injection
